<app-header>
</app-header>
<router-outlet></router-outlet>
<br/>
<footer style="margin:0px">
    <div class="container-fluid fixed fixed-bottom" style="height:30px;background:rgb(223, 223, 223)">
        <p style="padding-top:10px;font-size:0.6em"><a target="_blank" href="http://www.enggenv.com" >Powered by: Engineering and Environmental Solutions</a></p>
    </div>
</footer>